.delivery-options--card {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 155.5px;
    padding: 15px 5px;
    margin: 5px 5px 0 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.first{
    order: 1;
}

.second{
    order: 2;
}

.cardColor{
    background-color: #f04523;
}