.mainContent-delivery {
  display: flex;
  justify-content: center;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0 10px;
  width: 400px;
}
.delivery > h2{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-options{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  max-width: 331px;
  flex-wrap: wrap;
}


.menu  {
  padding: 15px 20px 20px 20px;
}
.menu-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-products{
  display: flex;
  flex-wrap:wrap;
  align-content: center;
  justify-content: center;
  max-width: 400px;
}

.typeProducts{
  font-family:'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .mainContent{
    display: flex;
    justify-content: center;
  }
  .mainContent-delivery{
    order: 2;
  }
  .menu{
    padding-right: 10px;
  }
  .menu-products{
    max-width: 425px;
  }
}

@media (min-width: 1240px) {
  .mainContent{
    display: flex;
    justify-content: center;
  }
  .mainContent-delivery{
    order: 2;
  }
  .menu-products{
    max-width: 770px;
  }
}